@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.display-screen {
    border: 3px solid black;
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 22px;
}